@{
    Layout = null;//不使用母板页
}
@{
    ViewBag.Title = "阅尽天下代码";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/login.js"></script>
</head>
<body>
    <div id="dlogin">
        <table>
            <caption>个人图书后台管理系统</caption>
            <tr><td>用户名：</td><td><input type="text" id="txtUserName" class="input_login"/></td></tr>
            <tr><td>密码：</td><td><input type="password" id="txtPwd" class="input_login"/></td></tr>
            <tr>
                <td></td>
                <td><input type="button" value="重置" id="btnClear" class="btn btn-default" style="margin-right:20px"/><input type="button" value="登录" id="btnLogin" class="btn btn-default"/></td>
            </tr>
        </table>
    </div>
</body>
</html>

    